<div class="h-screen w-full bg-[#181515]">
    <div class="flex justify-end p-4">
        <!-- signout -->
        <button (click)="logout()" class="bg-blue-600 hover:bg-blue-700 hover:cursor-pointer rounded w-1/10 h-10 flex justify-between p-2 text-white items-center">
            SignOut
            <lucide-angular [img]="LogOut" class="my-icon"></lucide-angular>
        </button>
    </div>

    <!-- punch in/out -->
    <div class="flex justify-center items-center space-x-4 p-15">
        <button (click)="punchIn()" [disabled]="isPunchedIn" class="w-1/5 text-white flex items-center justify-between rounded p-2 bg-green-600 hover:cursor-pointer hover:bg-green-700">
            Punch In
            <lucide-angular [img]="TicketCheck" class="my-icon"></lucide-angular>
        </button>
        <button (click)="punchOut()" [disabled]="!isPunchedIn" class="w-1/5 text-white flex items-center justify-between rounded p-2 bg-red-600 hover:cursor-pointer hover:bg-red-700">
            Punch Out
            <lucide-angular [img]="TicketMinus" class="my-icon"></lucide-angular>
        </button>
    </div>

    <!-- to do punch in time and dates -->
    
    <!--today's date  -->
    <div class="text-center space-y-2 text-white">
        <p *ngIf="todayPunchIn">Punched In: {{todayPunchIn | date:'shortTime'}} </p>
        <p *ngIf="toadyPunchOut">Punched Out: {{todayPunchIn | date:'shortTime'}} </p>
        <p *ngIf="todayTotalTime">Total Today: {{getFormattedTime(todayTotalTime)}} </p>
    </div>
    
    <!-- previous dates -->
    <div class="mt-6 p-10">
        <h2 class="text-lg text-white font-semibold mb-2">✅Previous Punches: </h2>
        <ul class="text-white">
            <li *ngFor="let day of previousDays" class="bg-gray-800 rounded p-2 flex justify-between text-white">                
                <span> {{day.date | date:'short'}} </span>
                <span> {{getFormattedTime(day.totalTime)}} </span>
            </li>
        </ul>

    </div>
</div>
