<form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
<div class="flex items-center justify-center bg-[#181515] h-screen w-full">
  <p-card
    class="signup-header shadow-xl shadow-gray-400 rounded-full"
    [style]="{ width: '25rem', overflow: 'hidden' }"
  >
    <ng-template pTemplate="header">
      <div class="flex flex-col space-y-2 items-center justify-center mt-3 p-3">
        <h1 class="font-mono text-3xl">SignUp!</h1>
        <h1 class="font-mono">Welcome to the attendance system</h1>
      </div>
    </ng-template>

    
      <div class="flex items-center justify-center">
        <div class="flex flex-col space-y-2 w-full">
          <p-iftalabel  >
            <input
              class="w-full"
              pInputText
              id="Name"
              formControlName="name"
              autocomplete="off"
            />
            <label for="Name">Name</label>
          </p-iftalabel>
          <p-iftalabel>
            <input
              class="w-full"
              pInputText
              id="Email"
              formControlName="email"
              autocomplete="off"
            />
            <label for="Email">Email</label>
          </p-iftalabel>
          <p-iftalabel>
            <input
              class="w-full"
              type="password"
              pInputText
              id="Password"
              formControlName="password"
              autocomplete="off"
            />
            <label for="Password">Password</label>
          </p-iftalabel>
          <p-iftalabel>
            <input
              class="w-full"
              type="password"
              pInputText
              id="cpassword"
              formControlName="cpassword"
              autocomplete="off"
            />
            <label for="cpassword">Confirm Password</label>
          </p-iftalabel>
        </div>
      </div>
    
    <ng-template #footer>
      <div class="flex flex-col items-center gap-4 mt-1">
        <p-button
          type="submit"
          label="SignUp"
          class="w-full"
          styleClass="w-full"
          variant="text"
          [raised]="true"
          severity="help"
        />
        <h1 class="font-mono">
          Already have an Account
          <a class="text-blue-700 underline" routerLink="/login">login here!</a>
        </h1>
      </div>
    </ng-template>
  </p-card>
</div>
</form>
